$gradient1: transparent linear-gradient(-29deg, #000 37%, rgba(24, 24, 24, 0.925) 100%) 0% 0% no-repeat padding-box;
$gradient2: transparent linear-gradient(-32deg, rgb(0, 0, 0) 20%, rgb(34, 34, 34) 100%) 0% 0% no-repeat padding-box;
$solidBackground : #16161A;
$shadow1: 0px 9px 9px -1px rgba(#F6F973, .1);
$shadow2: 0px 30px 30px -1px rgba(#F6F973, .02);
$textShadow1: 0px 6px 15px rgba(#F6F973, .5);
$MainRed: #FF5C5C;
$MainGreen: #2EC083;
$MainYellow: #F6F973;
