$textColor1: #001644;
$textColor1--light: #425466;
$textColorBlue: #635BFF;
$textColorGreen: #00D0CA;
$textColorBlue--light: #8882FF;
$darkbluebg: #040404;
$darkblueborder: #141414;
$darkbluebgpopup: #182032;
