@import url('https://fonts.googleapis.com/css?family=Titillium+Web:100,200,300,400,700,900&display=swap');
// variables
$Titillium: 'Titillium Web', sans-serif;
$lighter: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;
$mainColor: #7900FF;